<table role="presentation" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td align="center"
                valign="middle"
                height="{{ button_height }}"
                bgcolor="{{ button_bg_color }}"
                style="font-family:Arial,sans-serif;padding-left: {{
                button_padding_left_right
                }}px;padding-right: {{
                button_padding_left_right
                }}px;border-radius: {{ button_radius }}px; background-color: {{
                button_bg_color
                }}; border-width: {{ button_border_width }}px; border-style: {{
                button_border_style
                    ?
                    : 'solid'
                }}; border-color: {{ button_border_color }}; margin-right: {{
                margin_right
                    ?
                    : 0
                }}">
                <a id="d025b164-5514-11ed-bdc3-0242ac120002"
                    data-bsi-element-part="link"
                    href="{{ button_href ? : 'https://www.gateb.com' }}"
                    target="_blank"
                    style="font-size: {{
                    button_font_size
                        ?
                        : 16
                    }}px; line-height: {{ button_height }}px; font-family: {{
                    button_font_family
                        ?
                        : 'Arial, sans-serif'
                    }}; color: {{
                    button_label_color
                    }};
                 font-weight:{{
                    button_font_weight
                        ?
                        : 400
                    }}; font-family:Arial,sans-serif;font-style:normal;text-decoration:none;text-transform:uppercase;vertical-align:middle;text-align:center;border-radius: {{
                    button_radius
                    }}px; padding: {{ button_padding_top_bottom }}px 0;">
                    {{ button_label_text ? : 'Hier Klicken' }}
                </a>
            </td>
        </tr>
    </tbody>
</table>
