<footer data-bsi-element="footer" class="footer_section">
      <div class="footer_top">
        <div class="footer_mainLinks">
          <a href="[About_us]" data-bsi-element-part="link">
            About us
          </a>
          <a href="[Contact]" data-bsi-element-part="link">
            Contact
          </a>
          <a href="[Legal]" data-bsi-element-part="link">
            Legal
          </a>
        </div>
        <div class="footer_socials">
          <a data-bsi-element-part="link" href="[facebook]" data-bsi-link-fixed-inner-html="">
            <img src="{{ bsi_cx_asset('./icons/facebook.svg') }}" />
          </a>
          <a data-bsi-element-part="link" href="[twitter]" data-bsi-link-fixed-inner-html="">
            <img src="{{ bsi_cx_asset('./icons/twitter.svg') }}" />
          </a>
          <a data-bsi-element-part="link" href="[youtube]" data-bsi-link-fixed-inner-html="">
            <img src="{{ bsi_cx_asset('./icons/youtube.svg') }}" />
          </a>
          <a data-bsi-element-part="link" href="[linkedin]" data-bsi-link-fixed-inner-html="">
            <img src="{{ bsi_cx_asset('./icons/linkedin.svg') }}" />
          </a>
          <a data-bsi-element-part="link" href="[instagram]" data-bsi-link-fixed-inner-html="">
            <img src="{{ bsi_cx_asset('./icons/instagram.svg') }}" />
          </a>
        </div>
      </div>
      <div class="footer_middle">
        <div class="footer_tabletRow">
          <a href="[Data_Privacy]" data-bsi-element-part="link">
            Data Privacy Policy
          </a>
          <a href="[Terms_of_use]" data-bsi-element-part="link">
            Terms of use
          </a>
          <a href="[News_Alert]" data-bsi-element-part="link">
            News Alert
          </a>
        </div>
        <div class="footer_tabletText">
          <p data-bsi-element-part="plain-text">© 2022 JULIUS BAER</p>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="footer_disclaimer">
          <div class="footer_plainText">
            I have read and agree to the <n />
            <a href="[Terms_of_use]" data-bsi-element-part="link" class="footer_bottomLink">
              Terms of Use
            </a>
            <n /> and <n />
            <a href="[Data_Privacy]" data-bsi-element-part="link" class="footer_bottomLink">
              Data Privacy Policy
            </a>
            .
          </div>
        </div>
        <div class="footer_backToTop">
          <a data-bsi-element-part="link" href="#top">
            Back to top
          </a>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 5L12 19" stroke="white" strokeLinecap="round" strokeLinejoin="round"/>
          <path d="M17 10L12 5" stroke="white" strokeLinecap="round" strokeLinejoin="round"/>
          <path d="M7 10L12 5" stroke="white" strokeLinecap="round" strokeLinejoin="round"/>
          </svg>
        </div>
      </div>
    </footer>